.postre {
  background-image: url('/src/assets/statics/postres-menu.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    border: solid 10px;
    border-color: white;
  }
  
  .postre__container {
    background-color:#102629 ;
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 68px 40px;
    width: 300px;
    margin: 80px;
  }

  .postre__container h2{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .postre__container--form {
    display: flex;
    flex-direction: column;
  }
  
  .postre__container--form label {
    font-size: 14px;
  }
  
  .postre__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .postre__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  
  .postre__container--remember-me a:hover {
    text-decoration: underline;
  }
  
  .postre__container--social-media > div {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .postre__container--social-media > div > img {
    margin-right: 10px;
    width: 30px;
  }
  
  .postre__container--register {
    font-size: 14px;
  }
  
  .postre__container--register a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  
  .postre__container--register a:hover {
    text-decoration: underline;
  }
  